<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee
		http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         id="WebApp_ID" version="3.1">
  <display-name>User Management Web Application</display-name>

  <error-page>
    <exception-type>java.lang.Exception</exception-type>
    <location>/WEB-INF/Error.jsp</location>
  </error-page>

  <!-- @WebListener 注解替代
  <listener>
    <listener-class>net.javaguides.usermanagement.listener.ServletContextTest</listener-class>
  </listener>
  -->

  <!--
    <servlet-name>default</servlet-name>作用
    对客户端请求的静态资源如图片、JS文件等的请求交由默认的servlet进行处理
  -->
  <servlet-mapping>
    <servlet-name>default</servlet-name>
    <url-pattern>/example1.html</url-pattern>
  </servlet-mapping>
</web-app>
